@import "tailwindcss";

/* @variant dark (&:where(.dark, .dark *)); only when applying dark-mode toggle  */ 
@theme {
  --color-brand-primary: #04342c;      /* headers, nav, footer */
  --color-brand-secondary: #1D9E75;    /* icons, links, borders, hover states, secondary btn */
  --color-brand-accent: #D85A30;       /* badges, highlights */
  --color-brand-primary-btn: #04342c;  /* main CTAs */
  --color-brand-text: #1F2328;
  --color-brand-gray: #57606A;
}


html {
  scroll-behavior: smooth;
   
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01em;
  /* background-color: #921b1b;   */
}


 .cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}