@import "tailwindcss";

/* @variant dark (&:where(.dark, .dark *)); only when applying dark-mode toggle  */ 
@theme {
  --color-brand-primary: #04342c;     
  --color-brand-secondary: #1D9E75;   
  --color-brand-accent: #D85A30;      
  --color-brand-primary-btn: #04342c; 
  --color-brand-text: #1F2328;
  --color-brand-gray: #57606A;
}


html {
  scroll-behavior: smooth;
   
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}


body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01em;
  max-width: 100%;
  overflow-x: hidden;
}


 .cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.Toastify__toast--success {
  background-color: #006591 !important; 
  color: #ffffff !important;            
  border-radius: 12px !important;       
 
}


.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #38bdf8 !important; 
}


.Toastify__progress-bar--success {
  background: #38bdf8 !important;
}


.Toastify__close-button {
  color: #ffffff !important;
  opacity: 0.8;
}